parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     bitexiu
    database_user:     bitexiu
    database_password: bitexiu

    mailer_transport:  smtp
    mailer_host:       smtp.163.com
    mailer_user:       somebody@163.com
    mailer_password:   somebodypassword

    locale:            zh_CN
    secret:            ThisTdfidsafasdfeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
