{% extends "::base.html.twig" %}

{% block title %}比特秀{% endblock %}

{% block body %}
比特秀

{% if is_granted('ROLE_ADMIN') %}
<a href="{{path('member_list')}}">管理员面版</a>
{% endif %}

{% if is_granted('ROLE_USER') %}
<a href="">个人中心</a>
{% endif %}

{% if is_granted('ROLE_DESIGNER') %}
<a href="">搭配师中心</a>
{% endif %}

{% endblock %}
