{% extends "SlackissBitBundle:layout:layout.html.twig" %}

{% block title %}添加标签类型{% endblock %}

{% block body -%}
    <h1>添加标签类型</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_labelType') }}">
           返回列表
        </a>
    </li>
</ul>
{% endblock %}
